<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="planar_mode"/>
  
   <gazebo reference="camera_back_down">
    <sensor type="camera" name="camera1">
      <update_rate>5.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>400</width>
          <height>400</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>aqua/back_down</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

  <!-- gazebo plugins -->
  <!-- aqua flippers -->
  <gazebo>
    <plugin name="aqua_flippers" filename="libaqua_flippers_plugin.so">
      <robotNamespace>aqua</robotNamespace>
      <motorPidGains>3.0 0.25 0.0000000</motorPidGains>
      <surfaceLevel>0.0</surfaceLevel>
      <fluidDensity>999.97</fluidDensity>
      <!--fluidDensity>1027.0</fluidDensity-->
      <thrustModel>1</thrustModel>
      <flipperFrequency>0.0</flipperFrequency>
      <flipperAmplitude>0.0</flipperAmplitude>
      <flipperAngleOffset>0.0</flipperAngleOffset>
    </plugin>
  </gazebo>

  <!-- aqua_hydrodynamics -->
  <gazebo>
    <plugin name="aqua_hydrodynamics" filename="libaqua_hydrodynamics_plugin.so">
      <robotNamespace>aqua</robotNamespace>
      <surfaceLevel>0.0</surfaceLevel>
      <fluidDensity>999.97</fluidDensity>
      <!--fluidDensity>1027.0</fluidDensity-->
      <dragCoeffs>0.9 1.08 1.28</dragCoeffs>
      <legDragCoeffs>0.0 0.0 1.12</legDragCoeffs>
      <disableRollSimulation>0</disableRollSimulation>
      <disablePitchSimulation>0</disablePitchSimulation>
      <disableYawSimulation>0</disableYawSimulation>
      <disableHeaveSimulation>$(arg planar_mode)</disableHeaveSimulation>
      <disableSpeedSimulation>0</disableSpeedSimulation>
    </plugin>
  </gazebo>

  <!-- imu plugin -->
  <gazebo>
    <plugin name="aqua_imu" filename="libgazebo_ros_imu.so">
      <robotNamespace>aqua</robotNamespace>
      <topicName>imu</topicName>
      <bodyName>aqua_shell</bodyName>
      <gaussianNoise>0.01</gaussianNoise>
    </plugin>
  </gazebo>

  <!-- aqua hardware -->
  <gazebo>
    <plugin name="aqua_hw" filename="libaqua_hardware_emulator.so">
      <robotNamespace>aqua</robotNamespace>
      <imuTopic>imu</imuTopic>
      <surfaceLevel>0.0</surfaceLevel>
      <depthSensorNoise>0.01</depthSensorNoise>
    </plugin>
  </gazebo>

</robot>
