<!-- This launch file publishes a robot model for the Aqua robot.
	 It can be used to visualize experiments in rviz and to associate information between
	 various sensors on the robot.
	 
	 Author: Dave Meger
 --> 

<launch>
  <arg name="urdf_path" default="$(find aqua_description)/urdf/aqua.urdf.xacro"/>
  <arg name="planar_mode" default="0"/> <!-- Set to 0 for full 3D swimming. Set to 1 for fixed depth, no roll, no pitch.-->

  <param name="robot_description" command="$(find xacro)/xacro.py '$(arg urdf_path)' planar_mode:=$(arg planar_mode)"/>
  <!-- param name="robot_description" command="$(find xacro)/xacro.py '$(find aquamodel)/urdf/aqua.urdf.xacro'"/ -->

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>
  
  <!-- Automatic leg state publisher for now simple sinusoid motions -->
  <node pkg="aqua_description" type="leg_state_publisher" name="leg_angle_publisher" output="screen"/>
  
  <!-- This is a useful node for testing. It allows the use of a GUI to publish joint states -->       
  <!-- node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen">
    <param name="use_gui" type="Boolean" value="False" />
  </node -->
  
</launch>
