#!/usr/bin/env python
PACKAGE = "aquaautopilot"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("ROLL_P_GAIN", double_t, 0, "Proportional gain for roll", 1.0, -5.0, 5.0)
gen.add("PITCH_P_GAIN", double_t, 0, "Proportional gain for pitch", 1.0, -5.0, 5.0)
gen.add("YAW_P_GAIN", double_t, 0, "Proportional gain for yaw", -1.5, -5.0, 5.0)

gen.add("ROLL_I_GAIN", double_t, 0, "Integral gain for roll", 0, -5.0, 5.0)
gen.add("PITCH_I_GAIN", double_t, 0, "Integral gain for pitch", 0, -5.0, 5.0)
gen.add("YAW_I_GAIN", double_t, 0, "Integral gain for yaw", 0, -5.0, 5.0)

gen.add("ROLL_D_GAIN", double_t, 0, "Derivative gain for roll", 0, -5.0, 5.0)
gen.add("PITCH_D_GAIN", double_t, 0, "Derivative gain for pitch", 0, -5.0, 5.0)
gen.add("YAW_D_GAIN", double_t, 0, "Derivative gain for yaw", 0, -5.0, 5.0)

gen.add("ROLL_CONST_GAIN", double_t, 0, "Constant gain for roll, useful when heaving sideways", 0, -5.0, 5.0)

gen.add("ROLL_D_FILTER_PERIOD", double_t, 0, "Time period for roll deriv exp filtering (s)", 0.0, 0, 10)
gen.add("PITCH_D_FILTER_PERIOD", double_t, 0, "Time period for pitch deriv exp filtering (s)", 0.0, 0, 10)
gen.add("YAW_D_FILTER_PERIOD", double_t, 0, "Time period for yaw deriv exp filtering (s)", 0.0, 0, 10)

gen.add("MAX_INTEGRAL_ANGLE_ERROR", double_t, 0, "Maximum value for angle integration", 0, -10, 10 )

gen.add("KSPEED", double_t, 0, "Proportional gain for forward velocity", 1.0, -3.0, 3.0)
gen.add("KHEAVE", double_t, 0, "Proportional gain for heave velocity", 1.0, -3.0, 3.0)

gen.add("KDEPTH", double_t, 0, "Proportional gain for depth change", -1.0, -10.0, 10.0)
gen.add("DEPTH_D_GAIN", double_t, 0, "Derivative gain for depth change", 0.0, -10, 10 )
gen.add("DEPTH_D_FILTER_PERIOD", double_t, 0, "Time period for depth deriv exp filtering (s)", 0.0, 0,10)

gen.add("MAX_ROLL", double_t, 0, "Saturation threshold for roll, in radians", 1.0, 0.0, 1.6)
gen.add("MAX_PITCH", double_t, 0, "Saturation threshold for pitch, in radians", 1.0, 0.0, 1.6)
gen.add("MAX_YAW", double_t, 0, "Saturation threshold for yaw, in radians", 1.0, 0.0, 1.6)

gen.add("MAX_SPEED", double_t, 0, "Saturation threshold for speed, in pseudo-velocity", 1.0, 0.0, 1.0)
gen.add("MAX_HEAVE", double_t, 0, "Saturation threshold for heave, in pseudo-velocity", 1.0, 0.0, 1.0)

'''
# Other examples
gen.add("int_param", int_t, 0, "An Integer parameter", 50, 0, 100)
gen.add("double_param", double_t, 0, "A double parameter", .5, 0, 1)
gen.add("str_param", str_t, 0, "A string parameter", "Hello World")
gen.add("bool_param", bool_t, 0, "A Boolean parameter", True)

size_enum = gen.enum([ gen.const("Small", int_t, 0, "A small constant"),
                  gen.const("Medium", int_t, 1, "A medium constant"),
                  gen.const("Large", int_t, 2, "A large constant"),
                  gen.const("ExtraLarge", int_t, 3, "An extra large constant") ],
                  "An enum to set size")

gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)
'''

exit(gen.generate(PACKAGE, "aqua_local_autopilot", "Autopilot"))
